@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #ddbee7;
}
#menu-1 .mbr-navbar__section {
  background: #ddbee7;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-0 H1 {
  color: #ffffff;
}
#slider-0 P {
  font-size: 20px;
}
#content5-2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-article {
  color: #fff;
}
#features1-3 .mbr-section-title .mbr-header__text {
  color: #2b0849;
  text-align: center;
}
#features1-3 .btn {
  font-size: 14px;
}
#features1-3 .mbr-section__col .mbr-header__text {
  text-align: left;
}
#buttons1-h .btn {
  font-size: 18px;
}
#social-buttons2-4 .mbr-header__text {
  color: #8157cd;
}
#contacts2-5 P {
  color: #2b0849;
  font-size: 17px;
}

#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #ddbee7;
}
#menu-8 .mbr-navbar__section {
  background: #ddbee7;
}
#menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-g .mbr-header .mbr-header__text {
  text-align: center;
  color: #bfa4d6;
  font-size: 32px;
}
#content5-g .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-g .mbr-article {
  color: #fff;
}
#content5-g .mbr-article P {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#content5-x .mbr-header .mbr-header__text {
  text-align: center;
  color: #bfa4d6;
  font-size: 32px;
}
#content5-x .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-x .mbr-article {
  color: #fff;
}
#content5-x .mbr-article P {
  color: #000000;
  text-align: left;
  font-size: 20px;
}
#content5-y .mbr-header .mbr-header__text {
  text-align: center;
  color: #bfa4d6;
  font-size: 32px;
}
#content5-y .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-y .mbr-article {
  color: #fff;
}
#content5-y .mbr-article P {
  color: #ffffff;
  font-size: 20px;
}
#content5-10 .mbr-header .mbr-header__text {
  text-align: center;
  color: #bfa4d6;
  font-size: 32px;
}
#content5-10 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-10 .mbr-article {
  color: #fff;
}
#content5-10 .mbr-article P {
  color: #000000;
  font-size: 20px;
}
#content5-10 .mbr-article H2 {
  color: #000000;
}
#content5-11 .mbr-header .mbr-header__text {
  text-align: center;
  color: #bfa4d6;
  font-size: 32px;
}
#content5-11 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-11 .mbr-article {
  color: #fff;
}
#content5-11 .mbr-article P {
  color: #ffffff;
  font-size: 20px;
}
#content5-11 .mbr-article UL {
  color: #ffffff;
  font-size: 20px;
}
#contacts2-9 P {
  color: #2b0849;
  font-size: 17px;
}
#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #ddbee7;
}
#menu-a .mbr-navbar__section {
  background: #ddbee7;
}
#menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-j H1 {
  font-size: 36px;
}
#header2-k H1 {
  color: #d6bee9;
}
#header2-k P {
  color: #d6bee9;
}
#menu-c .mbr-brand__name {
  font-size: 16px;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #ddbee7;
}
#menu-c .mbr-navbar__section {
  background: #ddbee7;
}
#menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-e .mbr-brand__name {
  font-size: 16px;
}
#menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #ddbee7;
}
#menu-e .mbr-navbar__section {
  background: #ddbee7;
}
#menu-e .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts2-f P {
  color: #2b0849;
  font-size: 17px;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #ddbee7;
}
#menu-m .mbr-navbar__section {
  background: #ddbee7;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-r .mbr-article {
  color: #ffffff;
}
